/*
    
selector {
    property: value;
    property: value;
}

*/

p { 
    color:blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}