* {
    box-sizing: border-box;
}
html {
    background-color: rgb(207, 180, 194);
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
}

figcaption {
    font-family: 'Playfair Display', sans-serif;
    font-size: 13.5px;
    font-style: italic;
}

body {
    font-family: 'Playfair Display', sans-serif;
}

header {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 25px;
    float: left;
    width: 35%;
    padding: 40px; 
    text-align:center;
}
header nav {
    margin: 40px 0;
    font-size: 20px;
}
header a {
    display:block;
    color: #333;
    text-decoration: none;
    padding: 10px;
}

header a:visited {
    color: #333;
}
header a:hover,
header a:focus {
    color: white;
   
}
header a:active {
    color: #999;
}
header a.selected {
    color: rgba(255, 255, 255, 0.9);
}
main {
    float: left;
    width: 60%;
    max-width: 600px;
    padding: 40px;
}